@font-face {
    font-family: "Title Font";
    src: url('../../assets/fonts/montserrat_alt/MontserratAlternates-ExtraBold.ttf') format('TrueType');
}

@font-face {
    font-family: 'Sub-heading Font';
    src: url('../../assets/fonts/rajdhani/Rajdhani-Bold.ttf') format('TrueType');
}